
<div id="wrapper">
    <div id="content-wrapper">
  
      <div class="container-fluid">
  
        <!-- DataTables Example -->
        <div class="container">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2>View Stock Information</h2>
                </div>
              </div>
            </div>
            <!--Ticker Symbol-->
            <!--<label>Choose a ticker Symbol</label>
          
            <select class="form-control" id="tickersymbol" placeholder="choose a ticker symbol" [(ngModel)]="tickersymbol" required>
                <option *ngFor="let t of ts">{{t.tickersymbol}}</option>
            </select>-->
            <label>Type in a ticker Symbol</label><br>
            <select class="form-control" placeholder="choose a stocksymbol" [(ngModel)]="tickersymbol" required>
                <option *ngFor="let item of data">{{item.tickersymbol}}</option>
            </select>
            <!--Duration-->
            <br>
            <label>Choose duration</label>
            <select class="form-control" id="duration" placeholder="choose a duration" [(ngModel)]="duration" required>
                <option>current</option>
                <option>week</option>
                <option>pastweek</option>
                <option>month</option>
                <option>year</option>
                <option>5years</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" (click)="submitquery()">Find Stock</button>
            <br>
            <br>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th [(ngModel)]="duration"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor ="let item of history;">
              <!--<tr ng-repeat = "item in data | filter:search">-->
                <td>{{item}}</td>
              </tr>
  
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.container-fluid -->
  
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2019</span>
            </div>
          </div>
        </footer>
  
      </div>
      <!-- /.content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
  
    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>
  