
  <div id="wrapper">
      <div id="content-wrapper">
    
        <div class="container-fluid">
    
          <!-- DataTables Example -->
          <div class="container">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-8">
                    <h2>Stock Data</h2>
                  </div>
                </div>
              </div>
    
              <!--Name <input type="text" ng-model = "search.Name">
              <br><br>-->
              <label>Enter Quantity to Buy/Sell</label>
              <td><input type="text" id="quantity" value="0" [(ngModel)]="quantity"/></td>
              <br>
              <br>
              <label>Select Bank Account to buy/sell</label>
              <td>
                  <select class="form-control" id="accountno" placeholder="choose an account" [(ngModel)]="accountno" required>
                      <option *ngFor="let item of bankdata">{{item.accountno}}</option>
                  </select>
              </td>
              <br>
              <br>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Ticker Symbol</th>
                    <th>Stock Name</th>
                    <th>Current Price</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor ="let item of data;">
                  <!--<tr ng-repeat = "item in data | filter:search">-->
                    <td>{{item.tickersymbol}}</td>
                    <td>{{item.stockname}}</td>
                    <td>{{item.currentprice}}</td>
                    <td>
                      <button type="submit" class="btn btn-primary" (click)="buyMyStocks(item)">Buy</button>
                      
                    </td>
                  </tr>
    
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.container-fluid -->
    
          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
              </div>
            </div>
          </footer>
    
        </div>
        <!-- /.content-wrapper -->
    
      </div>
      <!-- /#wrapper -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    
      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    
      <!-- Page level plugin JavaScript-->
      <script src="vendor/chart.js/Chart.min.js"></script>
      <script src="vendor/datatables/jquery.dataTables.js"></script>
      <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    
      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin.min.js"></script>
    
      <!-- Demo scripts for this page-->
      <script src="js/demo/datatables-demo.js"></script>
      <script src="js/demo/chart-area-demo.js"></script>
    